*{margin: 0%;padding: 0%;box-sizing: border-box;}
@font-face {
    font-family: servic;
    src: url(FengardoNeue_Black.otf);
}
.balabck{width: 100%;height: 50vh;}
.pass1{background-color: rgb(35, 31, 32);width: 100%;height: 102vh;}
.logo{z-index: 1;top: 1vh;position: absolute;width: 25%;left: 35%;}
.l23calp{z-index: 1;position: absolute;top: 16.8vh;left: 9%;;width: 4.8vh;touch-action:none;}
.iconbala{color: #bdb94f;z-index:3;font-size: 3.5vh;position: absolute;top: 18vh;}
.pbala{font-size: 1.5vh;color: rgb(189, 185, 97);z-index: 2;position: absolute;}
.peng{font-size: 1.5vh;color: rgb(189, 185, 97);z-index: 2;position: absolute;top: 3vh;right: 2vh}
pmss{font-size: 3vh;color: rgb(97, 94, 51);z-index: 2;position: absolute;top: 18.2vh;left: 26%;}
pmss2{font-size: 1.5vh;color: rgb(97, 94, 51);z-index: 2;position: absolute;top: 13.5vh;left:55%}
.pbalazi{font-size: 1.5vh;color: white;z-index: 2;position: absolute;top: 23vh;}
.pms{left:6%}
.pmat{left:33%}
.pabout{left:56%}
.pcont{left:78%}
.morab{z-index: 4;position: absolute;transform: rotate(45deg);width: 0.3vh;height: 0.3vh;background-color: rgb(97, 94, 51);top: 27vh;border-radius: 50%}
.morab1{top: 16vh;right: 4%;height: 0.7vh;width: 0.7vh;background-color: rgb(189, 185, 97);border-radius: 0%}
.morab2{top: 16vh;left: 4%;height: 0.7vh;width: 0.7vh;background-color: rgb(189, 185, 97);border-radius: 0%}
.morab31{left: 11.5%;}
.morab32{left: 36.5%;}
.morab33{left: 62%;}
.morab34{left: 85%;;}
.morabj{border-radius: 50%;background-color: rgb(189, 185, 97);width: 1vh;height: 1vh;}
.acs{z-index: 3;position: absolute;top: 21vh;left: 9%;;width: 6vh;touch-action:none;}
.acshead{width: 100%;;z-index: 2;position: absolute;top: 31vh;}
kahtshadow{        width: 50%;
    height: 2vh; /* Set height for the line */
    background: linear-gradient(to right, rgb(153, 25, 25) 20%, transparent 80%);}
.butmor{width: 60%;height: 7.5vh;border: 0.5vh solid rgb(189, 185, 97);position: absolute;top: 63vh;z-index: 3;left: 20%;border-radius: 2%;}
.psing{color: white;font-size: 2vh;font-weight: bolder;z-index: 3;position: absolute;top: 2.35vh;left: 32%;}
.padresen{z-index: 2;color: white;font-size: 2.2vh;position: absolute;top: 76vh;left: 24%;}
.pnumber{z-index: 2;color: white;font-size: 2vh;position: absolute;top: 82vh;left: 35%;}
.social1{position: absolute;top: 90vh;font-size: 3vh;color: #ffffff;z-index: 3;}
.telegram1{left: 30%;}
.insta1{left: 46%;}
.face1{left: 62%;}
.charkh{z-index: 2;position: absolute;top: 92vh;width: 100%;height: auto;}
.pass2{background-color: #ffffff;width: 100%;height: 120vh;z-index:1;position: absolute;top: 86vh;}
shadowzirhead{width: 100%;position: absolute;top: 98vh;z-index: 2;height: 10vh;}
kaligraphy{position: absolute;top: 95vh;width: 100%;}
rizesh1{position: absolute;top: 88vh;width: 100%;z-index: 4;}
.kaghaz{position: absolute;top: 90vh;width: 100%;z-index: 5;}
.aab{position: absolute;top: 85vh;width: 100%;z-index: 2;}
.MICROSCALP2{position: absolute;top: 114vh;font-size: 5em;z-index: 3;font-weight: bolder;left: 25%;font-family: servic;color: rgb(35, 31, 32);}

.dast{position: absolute;top: 117.5vh;z-index: 2;left:74%;width: 12%;height: auto;transform: rotate(10deg);}
.circle001{
    width: 7.5vh;
    height: 7.5vh;
    border: 0.25vh solid rgb(189, 185, 97);
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 2;
    position: absolute;top: 117vh;left:71%;
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 14%, 0% 100%, 0 0);
    transform: rotate(90deg);
}
.circle010{
    width: 9vh;
    height: 9vh;
    border: 0.25vh solid rgb(189, 185, 97);
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 2;
    position: absolute;top: 116.25vh;left:69.3%;
}

.khatbozorg{z-index: 2;width: 42%;height: auto;position: absolute;top: 130vh;left: 55%;}
.star{z-index: 2;position: absolute;top: 129vh;font-size: 2vh;}
.whatmicro{position: absolute;font-size: 2.9em;z-index: 2;font-weight: bolder;font-family: servic;color: rgb(35, 31, 32);top: 129vh;left: 6%;}
.star2{top: 149vh;}
.whatisjav{font-size: 2.4em;z-index: 2;color: rgb(35, 31, 32);top: 135vh;position: absolute;left: 6%;}
.khatbozorg2{top: 150vh;}
.repetq{top: 149vh;}
.repeatq{font-size: 2.4em;z-index: 2;font-family: servic;color: rgb(35, 31, 32);top: 156vh;position: absolute;left: 6%;}
.javab1repeat{font-size: 2.4em;z-index: 2;color: rgb(35, 31, 32);top: 160vh;position: absolute;left: 6%;}
.repeatq2{top: 171vh;}
.javab2repeat{top: 175vh;}
.repeatq3{top: 182vh;}
.javab3repeat{top: 187vh;}
.repeatq4{top: 192vh;}
.javab4repeat{top: 197vh;}

.pass31{background-color: rgb(35, 31, 32);width: 73%;height: 250vh;position: absolute;top: 221vh;left: 13.5%;}
.pass32{width: 100%;height: 247vh;left: 0;top: 228vh;}
.tarhbalamaterial{position: absolute;top: 214.6vh;z-index: 2;width: 32%;height: auto;left: 34%;}
.khatsorkh{z-index: 1;width: 17%;position: absolute;left: 26%;top: 230vh;}
.khatsorkh2{left: 58.5%;transform: rotate(180deg);}
.tattopenbala{position: absolute;top: 227vh;left: 43.5%;z-index: 2;width: 13%;height: auto;transform: rotate(315deg);}
.khatsefiidmate{width: 0.4%;height: 10vh;position:absolute;top: 236vh;left: 49.8%;z-index: 1;background-color: #ffffff;border-radius: 25%;}
.MATERIAL{top: 238vh;left: 33%;color: rgb(255, 255, 255);}
.rangpeak{z-index: 2;position: absolute;top: 245vh;left: 31%;height: auto;width: 38%;
}
.circlematerialch{z-index: 1;width: 9.5vh;height: 9.5vh;border-radius:50%;border: 0.15vh solid rgb(189, 185, 97);;position: absolute;top: 288vh;justify-content: center;}
.feleshmaterialch{z-index: 1;width: 6.5vh;height: auto;position: absolute;top: 3.8vh;}
.circlematerialr{right:1%;}
.feleshmaterialr{left: 13%;transform: rotate(180deg);}
.organicmaterial{top: 295vh;left: 27%;color: rgb(255, 255, 255);}
.organicmaterialcolor{top: 300vh;left: 39%;color: rgb(255, 255, 255);}
.rangpeakghahve{top: 245vh;width: 28%;z-index: 1;left: 26%;}
.rangpeaknevo{left: 50%;top: 254vh;}
.tozihrangm{color: rgb(255, 255, 255);top: 308vh;left: 8%;right: 8%;}
.soozanpeak{z-index: 2;position: absolute;top: 245vh;left: 26%;height: auto;width: 48%;}
.butmor2{top: 325vh;}
.morabmaterial1{top: 342vh;width: 0.7vh;left: 30%;height: 0.7vh;}
.morabmaterial2{top: 342vh;width: 0.7vh;left: 50%;height: 0.7vh;}
.morabmaterial3{top: 342vh;width: 0.7vh;left: 70%;height: 0.7vh;}
.aksinstamaterial{z-index:1;width:13.5%;height: auto;position: absolute;top: 352vh;left: 43.25%;}
.khatarminsta{width: 38%;height: 0.3vh;z-index: 2;position: absolute;top: 353.2vh;background-color: rgb(97, 94, 51);left: 2.5%;}
.khatarminsta2{left: 59.5%;}
.nevinstamaterial{font-size: 2.4em;color: rgb(191, 188, 80);top: 356vh;position: absolute;left: 40%;}
.masalaaksay{width: 100%;height: 50%;position: absolute;top: 362vh;background-color: rgb(35, 31, 32);z-index: 12;}
.feleshmaterial-paiin{z-index: 2;width: auto;height: 9vh;position: absolute;top: 415vh;left: 48%;}
.charkh-paiin{z-index: 1;position:absolute;top: 419.5vh;width: 100%;height: auto;}
.akszeirfelmat{z-index: 2;position: absolute;top: 429vh;width: 100%;height: auto;}
.graydelete{width: 100%;height: 8vh;z-index: 1;background-color: gray;position: absolute;top: 469vh;}

.pass4{background-color: #ffffff;width: 100%;height: 150vh;position: absolute;top: 480vh;}
.editpass41{background-color: rgb(255, 255, 255);width: 49.9%;height: 10vh;position: absolute;top: 476vh;z-index: 2;left: 49.9%;transform: rotate(-2deg);
    border-top-left-radius: 19%;}
.editpass42{background-color: rgb(255, 255, 255);width: 50%;height: 10vh;position: absolute;top: 476vh;z-index: 2;left: 0;
border-top-right-radius: 19%;transform: rotate(2deg);}
.navarabout{background-color: rgb(35, 31, 32);width: 100%;height: 6.5vh;position: absolute;top: 485.5vh;z-index: 3;}
.pnavaboutus{top: 0.9vh;z-index: 3;left: 32%;color: rgb(255, 255, 255);}
.akstabloaboutus{position: absolute;top: 492vh;width: 40%;height: auto;left: 30%;}
.peducation{position: absolute;top: 494.5vh;font-size: 2.4em;font-weight: bolder;left: 42%;z-index: 1;}
.madarekavalm1{position: absolute;top: 509vh;width: 30%;height: auto;left: 35%;}
.madarekavalk1{position: absolute;top: 509vh;width: 50%;height: auto;left: 25%;}
.pmadrakaval{top: 527vh;font-weight: bolder;left: 28%}
.madarekavalm2{top: 535vh;;}







.moveleft-left{
    overflow-x: hidden;
    animation-name: moveleft-left;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: inherit;
    animation-delay:0s;}

    @keyframes moveleft-left
{
    0%{left: 55%;top: 255vh;width: 40%;}
    100%{left: 26%;top: 245vh;width: 48%;}
}
@keyframes moveleft
{
    0%{left: 31%;opacity: 1;}
    100%{left: 5%;opacity: 0;}
}
.move-left{animation-name: moveleft;
    animation-duration: 0.41s;
    animation-iteration-count: 1;
    animation-timing-function: inherit;
    animation-delay:0s;}
    
.animemadarekalav{animation-name: madrakaval;
    animation-duration: 0.41s;
    animation-iteration-count: 1;
    animation-timing-function: inherit;
    animation-delay:0s;}
    @keyframes madrakaval
{
    0%{width: 30%;left: 35%;top: 509vh;}
    100%{width:15%;left:50%;top: 515vh;}
}