* {margin: 0%;padding: 0%;box-sizing: border-box;}
@media screen and (max-width: 425px){

    
}
#s1p1{
    width: 100%;height: 100vh; 
    z-index: 2;
}

#s1d1back{
  position: sticky;
    width: 100%;height: 200vh;background-color: gray;z-index: 1;position: relative;bottom: 13vh;border-top-left-radius: 8vh;
    
}
#curved-corner-bottomright{
  width: 25%;
  height: 13vh;
  overflow: hidden;bottom: 12.8vh;z-index: 2;position: absolute;right: 0px;
}
#curved-corner-bottomright:before{
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
}
#curved-corner-bottomright:before {
  bottom: 0;
  right: 0;
  box-shadow: 10vh 10vh 0 0 gray;}
