* {margin: 0%;padding: 0%;box-sizing: border-box;}
@media screen and (max-width: 425px){

    
}
#s1p1{
    width: 100%;height: 100vh; 
    z-index: 2;
}
#notstop{width: 10vh;height: 0.5%;z-index: 3;position: relative;bottom: 63vh;}
#s1d1back{
  position: sticky;
  width: 100%;height: 25vh;background-color: rgb(218, 209, 192);z-index: 1;position: relative;bottom: 15vh;border-top-left-radius: 8vh;border-bottom-right-radius: 8vh;
    
}
#curved-corner-bottomright{
  width: 25%;
  height: 13vh;
  overflow: hidden;bottom: 15vh;z-index: 2;position: absolute;right: 0px;
}
#curved-corner-bottomright:before{
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
}
#curved-corner-bottomright:before {
  bottom: 0;
  right: 0;
  box-shadow: 10vh 10vh 0 0 rgb(218, 209, 192);}
  #curved-corner-topleft2 {
    width: 100px;
    height: 100px;
    overflow: hidden;
    ;z-index: 2;position: absolute;left: 0px;top: 110vh;
  }
  
  #curved-corner-topleft2:before{
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
  }
  
  #curved-corner-topleft2:before {
    top: 0;
    left: 0;
    box-shadow: -50px -50px 0 0 rgb(218, 209, 192);
  }
#s2d1back{
  width: 100%;height: 200vh;background-color: rgb(245, 242, 235);position: relative;bottom: 31vh;
}
@keyframes navarbala
{
    0%{top: -100vh;}
     100%{top: 0vh;}
}

#navarbala2{  position: sticky;
  width: 100%;height: 13vh;background-color: rgb(218, 209, 192);position: fixed;border-bottom-right-radius: 8vh;z-index: 3;
top: 0px;display: none;
animation-name: navarbalaa;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  
  animation-delay:0s;    animation-timing-function: ease-out;
}
@keyframes navarbala2
{
    0%{top: -100vh;}
    100%{top: 15vh;}
}
#curved-corner-topleft {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: fixed;top: 13vh;z-index: 3;display: none;
  animation-name: navarbala2a;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-delay:0s;
}

#curved-corner-topleft:before{
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
}

#curved-corner-topleft:before {
  top: 0;
  left: 0;
  box-shadow: -50px -50px 0 0 rgb(218, 209, 192);
}
#navbar{
  z-index: 3;position: fixed;top: 4vh;font-size: 500%;right: 10%;display: none;
}
#zarbala{
  z-index: 3;position: fixed;top: 4vh;font-size: 450%;left: 10%;display: none;
}
#language{
  z-index: 3;color: red;font-size: 60;position: fixed;top: 5vh;right: 25%;display: none;

}
#circle1{z-index: 1;position: absolute;top: 25vh;font-size: 350%;display: none;right: 10%;}
#circle2{z-index: 1;position: absolute;top: 35vh;font-size: 350%;display: none;right: 7%;}
#circle3{z-index: 1;position: absolute;top: 45vh;font-size: 350%;display: none;right: 5%;}

#godal1{width: 100%;z-index: 1;bottom:  145vh;position: relative;}
#whatmicro{
  font-size: 70;position: relative;z-index: 1;bottom: 120vh;right: 5%;
}
#jwhatmicro{font-size: 55;position: relative;z-index: 1;bottom: 115vh;right: 5%;}
#nimba{position: relative;z-index: 1;bottom:  105vh;width: 100%;height: 60vh;}
#soalt1{background-color: gray;width: 70%;height: 50vh;position: absolute;top: 245vh;left: 15%;z-index: 2;border-radius: 30px;}
#soalt2{background-color: blue;width: 70%;height: 42vh;position: absolute;top: 249.5vh;right: 90%;;z-index: 2;border-bottom-left-radius: 30px}
#soalt3{background-color: red;width: 10vw;height: 42vh;position: absolute;top: 249.5vh;left: 90%;;z-index: 2;overflow-x: hidden;border-top-left-radius: 30px}
#backsoal{background-color: black;width: 100%;height: 85vh;position: absolute;top: 215vh;}
.oval {
  width: 300px;
  height: 400px;
  background: black;
  border-radius: 100% / 120% 120% 75% 75%;
}
body{background-color: rgb(245, 242, 235)}
